$color-primary-blue: hsl(231, 69%, 60%);
$color-primary-red: hsl(0, 94%, 66%);
$color-white: hsl(0, 0%, 100%);

$color-grayish-blue: hsl(229, 8%, 60%);
$color-dark-blue: hsl(229, 31%, 21%);

$section-padding-lg: 10rem;
